<%- include('componentes/header'); -%>
<main class="site-main">
  <header class="site-header">


    <div class="breadcrumb">
      <ol class="breadcrumb-tree">
        <li class="breadcrumb-item">
          <a href="#">
            <span class="zmdi zmdi-home mr-1"></span>
            <span>Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active"><a href="#">Itinerarios</a></li>
      </ol>


    </div><!-- /.breadcrumb -->
  </header><!-- /.site-header -->

  <div class="site-content">
    <h2>Administracion de Itinerarios</h2>
    <div class="simpleajaxuploader">
      <div class="sauinner">
        <form id="uploader_form" action="" method="get">

          <div id="filedrag">
            <i class="fa fa-cloud-upload fa-3x faupload"></i><br>
            Subir <input name="uploadedfile" type="file" />
            <p></p>
            Soltar archivos aquí
            <div id="previewarea" class="sauinner">
              <h3 align="center">Una vez seleccionado el archivo favor presionar subir </h3>
            </div>
          </div>
          <tr>
            <p class="ex1"></p>
          </tr>
          <button class="btn btn-primary btn-lg btn-block" type="submit" id="uploadnow">Subir</button>
        </form>
      </div>

    </div><!-- /.site-content -->

    <%- include('componentes/footer'); -%>
 
    <!-- Script de Funcionalidades -->

    <script>
      var filedrag = document.getElementById('filedrag');
      var previewarea = document.getElementById('previewarea');

      filedrag.addEventListener("dragover", FileIsOverElement, false);
      filedrag.addEventListener("dragleave", FileIsOverElement, false);
      filedrag.addEventListener("drop", FilesHaveBeenDropped, false);
      function FileIsOverElement(e) {
        e.stopPropagation();
        e.preventDefault();
      }
      function alerta() {
            var mensaje;
            var opcion = confirm("Esta seguro de subir el archivo");
            if (opcion == true) {
                mensaje = "Has clickado OK";
                return true;
            } else {
                mensaje = "Has clickado Cancelar";
                return false
            }        
        }
      var thefiles = [];
      function FilesHaveBeenDropped(e) {
        e.stopPropagation();
        e.preventDefault();
        FileIsOverElement(e);
        var dropped = e.target.files || e.dataTransfer.files;
        if (dropped.length > 1) {
          confirm("No puede subir varios archivos - Seleccione solo uno");
        } else {
          let nombre_archivo = dropped[0].name;
          if (nombre_archivo.substr(-4) == '.csv') {
            for (var i = 0; i < dropped.length; i++) {
              thefiles.push(dropped[i]);
              var newfilepreview = document.createElement('p');
              newfilepreview.innerHTML = 'Nombre del archivo a subir ' + dropped[i].name;
              previewarea.appendChild(newfilepreview);
            }
          } else {
            confirm("No es una extension valida");
          }
        }
      }

      var uploader_form = document.getElementById('uploader_form');
      var uploadnow = document.getElementById('uploadnow');
      uploader_form.onsubmit = function (event) {
       if(alerta()==true){
        
        event.preventDefault();
        if (thefiles.length <= 0) { alert('Drag a file'); return; }
        if (thefiles.length > 1) { alert('No se puede subir mas de 1 Archivo'); return; }
        uploadnow.innerHTML = 'Subiendo...';
        var formData = new FormData();
        for (var i = 0; i < thefiles.length; i++) {
          formData.append('myfiles[]', thefiles[i], thefiles[i].name);
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/subir_itinerario', true);
        xhr.onload = function () {
          if (xhr.status === 200) {
            uploadnow.innerHTML = 'Subir';
            previewarea.innerHTML = "<div class='alert alert-success'>Se ha cargado correctamente el Archivo</div>";
          }
          else
            alert('A Ocurrido un error!');
        };
        xhr.send(formData);
       }else{
       
       }
       
      };


    </script>



    <style>
      @-ms-viewport {
        width: device-width;
      }

      body {
        background: white;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 1em;
        letter-spacing: .05em;
        margin: 0;
      }

      header {
        background: #39527b;
        padding: 20px 0;
      }

      .btw {
        background: white;
        padding: 2px 20px;
        text-align: center;
        position: fixed;
        top: 0px;
        line-height: 3em;
      }

      .btwlink {
        color: white;
        text-decoration: none;
        font-size: 12px;
      }

      h1.heading {
        line-height: 1.1em;
        text-align: center;
        font-weight: 400;
        font-size: 1.7em;
        color: #EDF7F2;
        margin-top: 40px;
      }

      div.simpleajaxuploader {
        width: 900px;
        margin: 2% auto;
        max-width: 95%;
        min-height: 400px;
        border-radius: 5px;
        color: #FFF;
        font-size: 1.5em;
      }

      div.sauinner {
        width: 96%;
        padding: 2%;
      }

      button.button {
        background: black;
        border: none;
        padding: 20px 50px;
        font-size: 1em;
        color: white;
        display: block;
        margin: 40px auto 0px auto;
        cursor: pointer;
        font: inherit;
        width: 100%;
      }

      div#filedrag {
        width: 100%;
        background: #39527b;
        padding: 40px 20px;
        text-align: center;
        border: 1px dotted #971414;
        box-sizing: border-box;
      }

      .previewarea {
        background: rgb(126, 64, 64);
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        margin-top: 30px;
        font-size: 12px;
        text-align: left;
      }

      .previewarea h3 {
        font-weight: normal;
      }

      p.ex1 {
        padding-top: 25px;
      }
    </style>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">