<%- include('componentes/header'); -%>

<main class="site-main">
  <header class="site-header">


    <div class="breadcrumb">
      <ol class="breadcrumb-tree">
        <li class="breadcrumb-item">
          <a href="#">
            <span class="zmdi zmdi-home mr-1"></span>
            <span>Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active"><a href="#">Parámetros</a></li>
      </ol>


    </div><!-- /.breadcrumb -->
  </header><!-- /.site-header -->

  <div class="site-content">
    <h2>Maestro de tipo Parámetro</h2>




    <button type="button" class="btn btn-success" onclick="agregar()">Agregar tipo de Parámetro</button>


    <table id="table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Codigo</th>
          <th>Acciones</th>

        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modal_tipoparametro" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">

            <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
            <p class="statusMsg"></p>
            <form role="form" id="form">

              <div class="form-group">
                <input type="hidden" value="" name="id" /> <!-- Dato Oculto para manejar Id -->

              </div>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar nombre" />
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="codigo">Codigo</label>
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingresar codigo" />
                <span class="help-block"></span>
              </div>


            </form>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" id="btnSave" onclick="Guardar()" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>




  </div><!-- /.site-content -->



  <%- include('componentes/footer'); -%>



  <!-- Script de Funcionalidades -->

  <script>

    addEvent(window, 'load', inicializarEventos, false);


    function inicializarEventos() {
      var nombre = document.getElementById('nombre');
      addEvent(nombre, 'change', codigo_producto, false);
    }
    function codigo_producto() {
      var nombre = document.getElementById('nombre').value;
      nombre = nombre.trim();
      let codigo_salida = nombre.charAt(0);

      for (let i = 0; nombre.length > i; i++) {
        if (nombre.charAt(i) == " ") {
          codigo_salida += nombre.charAt(i + 1);
        }
      }
      /*
    var nuevocaracter = ''
     nombre = nombre.split(' ').join(nuevocaracter);
    */
      $('[name="codigo"]').val("#" + codigo_salida)//.charAt(0));
    }

    function addEvent(elemento, nomevento, funcion, captura) {
      if (elemento.attachEvent) {
        elemento.attachEvent('on' + nomevento, funcion);
        return true;
      } else
        if (elemento.addEventListener) {
          elemento.addEventListener(nomevento, funcion, captura);
          return true;
        } else
          return false;
    }
    function crearXMLHttpRequest() {
      var xmlHttp = null;
      if (window.ActiveXObject)
        xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
      else
        if (window.XMLHttpRequest)
          xmlHttp = new XMLHttpRequest();
      return xmlHttp;
    }

    var table;
    var save_method;
    var url;
    $(document).ready(function () {

      //  cargar_sucursales(); // Carga de Sucursales
      //  cargar_estado(); // Filtro Estado
      $(window).scroll(function () {
        return false;
      });


      table = $('#table').DataTable({
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ajax": {
          "url": "/listar_tipoparametro",
          "type": "POST"
        },
        dom: 'Bfrtip',
        buttons: [{
          extend: 'pdf',
          text: 'PDF'
        }, {
          extend: 'excel',
          text: 'EXCEL'
        }, {
          extend: 'csv',
          text: 'CSV'
        }, {
          extend: 'print',
          text: 'Imprimir'
        }],
        scrollX: false,
        scrollY: false,

        //  "sScrollY": "200px",
        "columnDefs": [{
          "targets": [-1], //last column
          "orderable": false, //set not orderable
        },],
        "language": {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ ",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "No se encuentran Ordenes Tacking",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar por Orden:  ",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }

      });
      //set input/textarea/select event when change value, remove class error and remove text help block
      $("input").change(function () {
        $(this).parent().parent().removeClass('has-error');
        $(this).next().empty();
      });
      $("textarea").change(function () {
        $(this).parent().parent().removeClass('has-error');
        $(this).next().empty();
      });
      $("select").change(function () {
        $(this).parent().parent().removeClass('has-error');
        $(this).next().empty();
      });

    });


    function agregar() {
      save_method = 'add';
      $('#form')[0].reset();
      $('.form-group').removeClass('has-error');
      $('.help-block').empty();
      $('#modal_tipoparametro').modal('show');
      $('.modal-title').text('Añadir tipo parametro');

    }

    function reload_table() {
      table.ajax.reload(null, false);
    }

    function Guardar() {
      $('#btnSave').text('Guardando...');
      $('#btnSave').attr('disabled', true);


      if (save_method == 'add') {
        url = "/insertar_tipoparametro";
      } else {
        url = "/actualizar_tipoparametro";
      }


      $.ajax({
        url: url,
        type: "POST",
        data: $('#form').serialize(),
        dataType: "JSON",
        success: function (data) {

          if (data.status) {
            $('#modal_tipoparametro').modal('hide');
            reload_table();
          } else {
            for (var i = 0; i < data.inputerror.length; i++) {
              $('[name="' + data.inputerror[i] + '"]').parent().parent().addClass('has-error'); //select parent twice to select div form-group class and add has-error class
              $('[name="' + data.inputerror[i] + '"]').next().text(data.error_string[i]); //select span help-block class set text error string
            }
          }
          $('#btnSave').text('Guardar');
          $('#btnSave').attr('disabled', false);


        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('Correo, se encuentra en uso');
          $('#btnSave').text('Guardar');
          $('#btnSave').attr('disabled', false);

        }
      });
    }

    function editar(id) {
      save_method = 'update';
      $('#form')[0].reset();
      $('.form-group').removeClass('has-error');
      $('.help-block').empty();
      let idOrderVtex = id.toString();
      idOrderVtex = idOrderVtex.replace('/', '');
      idOrderVtex = idOrderVtex.replace('/', '');

      $.ajax({
        url: "/obtener_por_id_tipoparametro",
        type: "POST",
        data: { "id": idOrderVtex },
        dataType: "JSON",
        success: function (data) {

          $('[name="id"]').val(idOrderVtex);
          $('[name="nombre"]').val(data.nombre);
          $('[name="codigo"]').val(data.codigo);


          $('#modal_tipoparametro').modal('show');
          $('.modal-title').text('Editar Usuarios');

        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('Error get data from ajax');
        }
      });
    }

    function eliminar(id) {
      let idOrderVtex = id.toString();
      idOrderVtex = idOrderVtex.replace('/', '');
      idOrderVtex = idOrderVtex.replace('/', '');
      if (confirm('Se Encuentra seguro de Eliminar los Datos?')) {

        $.ajax({
          url: "/eliminar_tipoparametro/" + idOrderVtex,
          type: "POST",
          dataType: "JSON",
          success: function (data) {
            //if success reload ajax table
            $('#modal_form').modal('hide');
            reload_table();
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert('Error al eliminar datos');
          }
        });

      }
    }

  </script>



  <style>
    table.dataTable {
      border: none;
    }
  </style>