<footer class="site-footer">

</footer><!-- /.site-footer -->
</main><!-- /.site-main -->
</div><!-- /.site-warpper -->



<!-- core plugins -->
<!-- Añadido Jorge -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.js"></script>
<!-- Fin-->


<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/switchery/dist/switchery.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/waypoints/lib/shortcuts/sticky.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/counterup/jquery.counterup.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/js/jquery.sparkline.min.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/global/js/plugins/dropdown-caret.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/global/js/plugins/firstlitter.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/global/js/plugins/video-modal.js"></script>

<!-- plugins for the current page -->
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>


<!-- site-wide scripts -->
<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/global/js/main.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/js/site.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/js/navbar.js"></script>
<script src="https://cdn.rawgit.com/Choopers/monitor/master/js/menubar.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

<!-- current page scripts -->

<script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/examples/js/demos/tables.datatables.js"></script>

</body>

</html>