<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>FCAB</title>
  <meta name="description" content="Luxury is a premium adman dashboard template based on bootstrap">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- theme customizier \ demo only -->
  <link rel="stylesheet" href="login.html">
  <script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/examples/js/theme-customizer.js"></script>

  <!-- core plugins -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/css/hamburgers.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/switchery/dist/switchery.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/sweetalert/dist/sweetalert.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

  <!-- site-wide styles -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/css/site.css">

  <!-- plugins for the current page -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/datatables.net-dt/css/jquery.dataTables.min.css">


  <!-- current page styles -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/examples/css/demos/demos.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600">

  <script src="https://cdn.rawgit.com/Choopers/monitor/master/Template/vendor/bower_components/breakpoints.js/dist/breakpoints.min.js"></script>
  <script>Breakpoints({ xs: { min: 0, max: 575 }, sm: { min: 576, max: 767 }, md: { min: 768, max: 991 }, lg: { min: 992, max: 1199 }, xl: { min: 1200, max: Infinity } });</script>

  <!-- Agregado Jorge -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">


</head>

<body class="menubar-left menubar-dark">
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <nav class="site-navbar navbar fixed-top navbar-expand-md navbar-light bg-blue">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">

        <!--d   
            <svg class="flip-y" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                <img src="http://www.jumbo.cl/FO_IMGS/htmls/modal-verano/img/logojumbocl.png" width="50" height="50">       </svg>
            -->
        <div style="text-align: center;">
        <span class="brand-name hidden-fold" >FCAB</span>
      </div>
      </a>

      <a href="main.html" class="hidden-fold hidden-sm-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <g transform="translate(.5 .5)" fill="none" stroke-linecap="square" stroke-miterlimit="10">
            <path stroke="currentColor" d="M23 12c0-1.105-.895-2-2-2h-1.262c-.19-.732-.477-1.422-.852-2.058l.892-.892c.78-.78.78-2.047 0-2.828-.78-.78-2.047-.78-2.828 0l-.892.892c-.636-.375-1.326-.663-2.058-.852V3c0-1.104-.895-2-2-2s-2 .895-2 2v1.262c-.732.19-1.422.477-2.058.852l-.892-.892c-.78-.78-2.047-.78-2.828 0-.78.78-.78 2.047 0 2.828l.892.892C4.74 8.578 4.45 9.268 4.262 10H3c-1.104 0-2 .895-2 2s.895 2 2 2h1.262c.19.732.477 1.422.852 2.058l-.892.892c-.78.78-.78 2.047 0 2.828.78.78 2.047.78 2.828 0l.892-.892c.635.375 1.326.663 2.058.852V21c0 1.104.895 2 2 2s2-.895 2-2v-1.262c.732-.19 1.422-.477 2.058-.852l.892.892c.78.78 2.047.78 2.828 0 .78-.78.78-2.047 0-2.828l-.892-.892c.375-.635.663-1.326.852-2.058H21c1.104 0 2-.895 2-2z" />
            <circle data-color="color-2" stroke="#52c03b" cx="12" cy="12" r="3" />
          </g>
        </svg>
      </a>

      <button data-toggle="menubar" class="mr-auto hidden-md-up hamburger hamburger--collapse js-hamburger" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <button type="button" class="navbar-toggler hidden-md-up collapsed" data-toggle="navbar-search">
        <span class="sr-only">Toggle navigation</span>
        <span class="zmdi zmdi-hc-lg zmdi-search"></span>
      </button>

      <button type="button" class="navbar-toggler hidden-md-up collapsed" data-toggle="collapse" data-target="#site-navbar-collapse"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="zmdi zmdi-hc-lg zmdi-more"></span>
      </button>
    </div>
    <!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="site-navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item hidden-sm-down">
          <a class="nav-link" href="#">
            <button data-toggle="menubar-fold" class="hamburger hamburger--arrowalt is-active js-hamburger" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </a>
        </li>







      </ul>

      <ul class="navbar-nav">




        <li class="nav-item dropdown">
          <a class="nav-link site-user dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="nav-img" src="https://cdn.rawgit.com/Choopers/monitor/master/Template/global/images/user-img.png"
              alt="">
            <span class="nav-text hidden-sm-down ml-2">
              <%=nombre_usuario%>
            </span>
            <i class="nav-caret hidden-sm-down zmdi zmdi-hc-sm zmdi-chevron-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right p-0" data-plugin="dropdownCaret">
            <a class="dropdown-item dropdown-menu-cap">
              <%=nombre_usuario%>
            </a>


            <a class="dropdown-item" href="/salir">
              <i class="fa fa-power-off mr-3"></i>
              <span>Desconectar</span>
            </a>
          </div>
        </li>


      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- /.site-navbar -->



  <div class="site-wrapper">
    <aside class="site-menubar">
      <div class="site-menubar-inner">
        <ul class="site-menu">

          <!-- Menu de Navegacion JLM -->
          <li class="menu-section-heading">MAIN NAVIGATION </li>
          <% 
          
          let condicion=perfil;
          console.log("Condicion en Front:"+condicion);

          %>

          <li>
            <a href="/">
              <i class="menu-icon zmdi zmdi-account"></i>
              <span class="menu-text">Usuarios</span>
            </a>
          </li>
          <li>
            <a href="/parametros">
              <i class="menu-icon zmdi zmdi-collection-plus"></i>
              <span class="menu-text">Parámetros</span>
            </a>
          </li>
          <li>
              <a href="/tipoparametro">
                <i class="menu-icon zmdi zmdi-code-setting"></i>
                <span class="menu-text">Tipo Parámetro</span>
              </a>
            </li>
          <li class="menu-section-heading">DATA</li>
          <li>
            <a href="/" class="submenu-toggle">
              <i class="menu-icon zmdi zmdi-globe-alt"></i>
              <span class="menu-text">Mantenedores</span>
              <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
            </a>
            <ul class="submenu">
              <li><a href="/itinerarios"><span class="menu-text">Itinerarios</span></a></li>
              <li><a href="/tiempodistancia"><span class="menu-text">Tiempo y Distancia</span></a></li>
              <li><a href="/zonas"><span class="menu-text">Zonas</span></a></li>
            </ul>
          </li>
          <li>
            <a href="/" class="submenu-toggle">
              <i class="menu-icon zmdi zmdi-balance"></i>
              <span class="menu-text">Casos</span>
              <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
            </a>
            <ul class="submenu">
              <li><a href="/miscasos"><span class="menu-text">Mis Casos</span></a></li>
              <li><a href="/otroscasos"><span class="menu-text">Otros Casos</span></a></li>
              
            </ul>
          </li>








        </ul>
        <!-- /.site-menu -->
      </div>
      <!-- /.site-menubar-inner -->
    </aside>
    <!-- /.site-menubar -->